<template>
  <v-app>
    <IndexBar/>

    <v-main>
      2020 Aug 10th
      There are 50 shots today, and the highest peak current is 500MA.
      <ShotTable/>
    </v-main>
  </v-app>
</template>

<script>
import IndexBar from '@/components/appbars/IndexBar';
import ShotTable from '@/components/tables/ShotTable';

export default {
  name: 'App',

  components: {
    IndexBar,
    ShotTable
  },

  data: () => ({
    //
  }),
};
</script>
