<template>
    <v-btn
      class="mx-2"
      fab
      dark
      color="cyan"
    >
      <v-icon dark>
        mdi-pencil
      </v-icon>
    </v-btn>
</template>

<script>
export default {
    name: "WriteBtn"
}
</script>