<template>
  <v-app>
    <IndexBar/>

    <v-main>
      <NewsGlobalCarousel/>
      <v-container>
        <v-row class="text-center"> 
          <v-col cols="12">
            <h1> Welcome to Fucore </h1>
            
          </v-col>
        </v-row>
      </v-container>
      <p>
        Fucore, short for fusion core, is an integrated app that plans to connect disparate aspects concerning fusion science. Wenyin is working on building its framework by electron which has the potential as Qt to construct a cross-platform app. The techniques used in it may look uninteresting to physicists but would be necessary to unite all fusion physicists and techniques around the world.
      </p>

      <p>
        Fucore is designed to help researchers out of code. The following listed functionality are scheduled to be supplemented in fucore in order to release scientists from the repeating but less-well-repeatable numerical computation.
      </p>

      <h3>Geometry</h3>

      <h3>Shot Analysis</h3>

        Field Line, Profile Analysis and ERGOS

        Add and Edit labels

        Coordinate Transform

        Wave Analysis

      <h3>Data Pipeline Control</h3>

        Equipped with backend: FEniCS(for fluid simulation), PIConGPU(for kinetic simulation), HINT? EMC3-EIRENE? 
        
        Let buttons ease data flow manipulation

      <h3>Quick-reference</h3>

        CMA plot, details about waves in plasma

      <p>
      If you want to join our fusion energy research community, please join <a> wenyin.wei.ww@gmail.com </a>.
      </p>
      <!-- <Plotly :data="data" :layout="layout" :display-mode-bar="false"></Plotly> -->
      <RegiterForm/>
      <v-row>
        <v-col cols="6"><RegisterForm/></v-col>
        <v-col cols="6"><RegisterForm/></v-col>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import IndexBar from '@/components/appbars/IndexBar';
import NewsGlobalCarousel from '@/components/carousels/NewsGlobalCarousel';
// import { Plotly } from 'vue-plotly';
import RegisterForm from '@/components/dialogs/RegisterForm';


export default {
  name: 'App',

  components: {
    IndexBar,
    // Plotly,
    RegisterForm,
    NewsGlobalCarousel,
  },

  // data: () => ({
  //   data:[{
  //     x: [1, 2, 3, 4, 5],
  //     y: [1, 6, 3, 6, 1],
  //     mode: 'markers+text',
  //     type: 'scatter',
  //     name: 'Team A',
  //     text: ['A-1', 'A-2', 'A-3', 'A-4', 'A-5'],
  //     textposition: 'top center',
  //     textfont: {
  //       family:  'Raleway, sans-serif'
  //     },
  //     marker: { size: 12 }
  //   },{
  //     x: [1.5, 2.5, 3.5, 4.5, 5.5],
  //     y: [4, 1, 7, 1, 4],
  //     mode: 'markers+text',
  //     type: 'scatter',
  //     name: 'Team B',
  //     text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
  //     textfont : {
  //       family:'Times New Roman'
  //     },
  //     textposition: 'bottom center',
  //     marker: { size: 12 }
  //   }],
  //   layout: {
  //     xaxis: {
  //       range: [ 0.75, 5.25 ]
  //     },
  //     yaxis: {
  //       range: [0, 8]
  //     },
  //     legend: {
  //       y: 0.5,
  //       yref: 'paper',
  //       font: {
  //         family: 'Arial, sans-serif',
  //         size: 20,
  //         color: 'grey',
  //       }
  //     },
  //     title:'Data Labels on the Plot'
  //   }
  // }),
};
</script>
