<template>
  <v-app>
    <IndexBar/>

    <v-main>
      <v-container class="grey lighten-5">
        <v-row>
          <v-col>
            <!-- <Plotly :data="data" :layout="layout" :display-mode-bar="false"></Plotly> -->
            <TrendChart
              :datasets="datasets"
              :grid="grid"
              :labels="labels"
              :min="min">
            </TrendChart>

            Time Series plot are planned here.
          </v-col>
          <v-col>
            blabla
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import IndexBar from '@/components/appbars/IndexBar';
// import { Plotly } from 'vue-plotly';
import Vue from "vue";
import TrendChart from "vue-trend-chart";

Vue.use(TrendChart);

export default {
  name: 'App',

  components: {
    IndexBar
    // Plotly,
  },

  data: () => ({
    datasets: [
      {
        data: [10, 50, 20, 100, 40, 60, 80],
        smooth: true,
        fill: true
      }
    ],
    grid: {
      verticalLines: true,
      horizontalLines: true
    },
    labels: {
      xLabels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
      yLabels: 5
    },
    min: "0"
  }),
};
</script>
