<template>
  <v-app>
    <IndexBar/>

    <v-main>
      <NewsInstituteCarousel/>
      <v-container class="grey lighten-5">
        <v-row>
          <v-col>
            <MachineProfileCard/>
          </v-col>
          <v-col>
            <MachineProfileCard/>
          </v-col>
          <v-col>
            <MachineProfileCard/>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import IndexBar from '@/components/appbars/IndexBar';
import NewsInstituteCarousel from '@/components/carousels/NewsInstituteCarousel';
import MachineProfileCard from '@/components/cards/MachineProfileCard.vue';

export default {
  name: 'App',

  components: {
    NewsInstituteCarousel,
    MachineProfileCard,
    IndexBar
  },

  data: () => ({
    //
  }),
};
</script>
