<template>
  <v-app>
    <IndexBar/>

    <v-main>
      <v-container class="grey lighten-5">
        <v-row>
          <v-col cols=4>
            <h2> Machine Parameters </h2>
            <MachineParameterCard />
          </v-col>
          <v-col cols=8>
            <h2> Machine Structure </h2> 
          </v-col>
        </v-row>
      </v-container>
      <WriteBtn/>
      <MachineCalendar/>
    </v-main>
  </v-app>
</template>

<script>
import IndexBar from '@/components/appbars/IndexBar';
import MachineParameterCard from '@/components/cards/MachineParameterCard';
import MachineCalendar from '@/components/calendars/MachineCalendar';
import WriteBtn from '@/components/buttons/WriteBtn';

export default {
  name: 'App',

  components: {
    IndexBar,
    MachineParameterCard,
    MachineCalendar,
    WriteBtn
  },

  data: () => ({
    //
  }),
};
</script>
